@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
body{
    background: linear-gradient(60deg,#00F260,#0575E6);
    font-family: 'Festive', cursive;
}
.container{
   position: absolute;
   top: 18%;
   left: 34%;
   width: 380px;
   height: 450px;
   border: 2px solid black; 
   background: linear-gradient(45deg,#B2FEFA,#0ED2F7);
}
.container img{
    width: 381px;
    height: 270px;
    margin: 0;
}
.container h1{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 140px;
    font-size: 50px;
}
.container h2{
    margin-left: 75px;
    margin-top: 2px;
    font-size: 40px;
}