

.container{
    position: relative;
    /* border: 2px solid black; */
    width: 50rem;
    height: auto;
    text-align: center;
    top: 8rem;
    left: 17rem;
}

.input{
    padding: 5px;
    width: 200px;
    margin-right: 9px;
}
.btn-sub{
    padding: 5px;
    width: 100px;
    font-size: 18px;
    border-radius: 6px;
    background-image: linear-gradient(67deg,#a8ff78,#78ffd6);
}
.list-item{
    position: relative;
    top: 10rem;
    left: 32rem;
}
.li-item{
    margin-top: 5px;
}
.del-btn{
    padding: 5px;
    width: 90px;
    font-size: 18px;
    border-radius: 6px;
    margin-left: 6px;
    background-image: linear-gradient(56deg,#ED213A,#93291E);
}