
body{
    background-image: url(./images/40197.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.App{
    text-align: center;
    padding: 0px 10px;
}
.App input{
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    padding-left: 1px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}
.Addbtn{
    display: block;
    margin-left: 35rem;
    margin-top: 10px;
    width: 24rem;
    height: 35px;
    border-radius: 6px;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(67deg,#373b44,#4286f4);
}
.card{
    width: 300px;
    height: auto;
    margin: 40px 36rem;
    background-color: #eee;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 2px 2px 3px 3px black;
}
.card button{
    margin-left: 10px;
    border-radius: 5px;
    padding: 16px 24px;
    font-size: 1rem;
    outline: none;
    font-size: 18px;
    font-weight: 700;
}
.card button:nth-child(odd){
    background-image: linear-gradient(45deg,#11998e,#38ef7d);
}
.card button:nth-child(even){
    background-image: linear-gradient(45deg,#ED213A,#93291E);
}

.editval{
    margin-top: 40px;
    margin-left: 30rem;
    background-color: #eee;
    width: 30rem;
    height: 80px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 30px;
}
.editval input{
    padding: 10px 5px;
    position: relative;
    right: 1rem;
    margin-left: 20px;
    font-size: 2rem;
}
.donebtn{
    position: relative;
    top: 10rem;
    width: 80px;
    height: 30px;
    left: 5px;
    font-size: 16px;
    background-image: linear-gradient(45deg,#414d0b,#727a17);
    border-radius: 4px;
}