body{
    background-image: linear-gradient(65deg,#ff00cc,#333399);
}
.row:nth-child(odd){
    background-color: rgb(47, 15, 98);
}
.row:nth-child(odd) .col:nth-child(even){
    background-color: rgb(151, 147, 204);
}
.row:nth-child(even){
    background-color: rgb(47, 15, 98);
}
.row:nth-child(even) .col:nth-child(odd){
    background-color: rgb(151, 147, 204);
}


