div {
    border: 3px solid black ;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-bottom:10px ;
            padding-left:15px;
            padding-right: 5px;
            margin-left: 350px;
            margin-right:400px;
            margin-top: 20px;
            background-color: rgb(197, 225, 226);
}

div h1{
    text-align: center;
}

body{
    background-image: url(./images/pexels-ylanite-koppens-843227.jpg);
    background-repeat: no-repeat;
}